<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
			    <div class="control-group">
			      <!-- email -->
			      <label class="control-label"  for="email">Email</label>
			      <div class="controls">
			        <input type="email" ng-model="usuario.email" name="email" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" ng-model="usuario.password" name="password" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-primary" ng-click="funciones.login()">Login</button>
			      </div>
                <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success" ng-click="funciones.registro()">Registro</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
