<!DOCTYPE html>
<html lang="es" ng-app>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Control de Caja">
    <meta name="author" content="Alberto Basalo">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>Control de Caja</title>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-init="nuevoMovimiento={}; movimientos=[]; total ={}; maestros={}; nuevoMovimiento.esIngreso=1; nuevoMovimiento.esGasto=0; total.ingresos=0; total.gastos=0; maestros.categoriasIngresos=['Nómina','Ventas','Intereses Depósitos']; maestros.categoriasGastos=['Hipotéca','Compras', 'Impuestos']; ">
    <div class="container">
        <div class="text-center">
            <h1>Controla tu Cash Flow</h1>
            <p class="lead">Comprueba de dónde viene y a dónde va tu dinero.</p>
            <div class="row-fluid">
                <div class="row placeholders">
                    <div class="col-xs-8 col-sm-4 placeholder">
                        <h1>
                            <span class="label label-success">
                                {{total.ingresos | number:2 }} €
                            </span>
                        </h1>
                        <h4>Total ingresos</h4>
                        <span class="text-muted">Acumulado</span>
                    </div>
                    <div class="col-xs-8 col-sm-4 placeholder">
                        <h1>
                            <span class="label label-danger">
                                {{total.gastos | number:2 }} €
                            </span>
                        </h1>
                        <h4>Total gastos</h4>
                        <span class="text-muted">Acumulado</span>
                    </div>
                    <div class="col-xs-8 col-sm-4 placeholder">
                        <h1>
                            <span class="label " ng-class="{'label-success': total.ingresos-total.gastos>=0 , 'label-danger' : total.ingresos-total.gastos<0}">
                                {{total.ingresos-total.gastos | number:2 }} €
                            </span>
                        </h1>
                        <h4>Balance</h4>
                        <span class="text-muted">Ingresos-Gastos</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row-fluid">
                <form class="form-horizontal text-left">
                    <fieldset>
                        <div id="legend">
                            <legend class="">Introduce tus movimientos</legend>
                        </div>
                        <div class="row-fluid">
                            <div class="col-xs-12 col-sm-6">
                                <div class="control-group">
                                    <label class="control-label" for="tipo">Tipo</label>
                                    <div class="controls">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success" ng-class="{'active':nuevoMovimiento.esIngreso==1}" ng-click="nuevoMovimiento.esIngreso=1; nuevoMovimiento.esGasto=0">
                                                <span ng-class="{'small':nuevoMovimiento.esIngreso==0}">+ Ingreso</span>
                                            </button>
                                            <button type="button" class="btn btn-danger" ng-class="{'active':nuevoMovimiento.esGasto==1}" ng-click="nuevoMovimiento.esIngreso=0; nuevoMovimiento.esGasto=1">
                                                <span ng-class="{'small':nuevoMovimiento.esGasto==0}">- Gasto</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="categ">Categoría</label>
                                    <div class="controls">
                                        <select ng-show="nuevoMovimiento.esIngreso" name="categoria" ng-model="nuevoMovimiento.categoria" ng-options="categ for categ in maestros.categoriasIngresos"></select>
                                        <select ng-show="nuevoMovimiento.esGasto" name="categoria" ng-model="nuevoMovimiento.categoria" ng-options="categ for categ in maestros.categoriasGastos"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="control-group">
                                    <label class="control-label" for="fecha">Fecha</label>
                                    <div class="controls">
                                        <input type="date" name="fecha" placeholder="" class="input" ng-model="nuevoMovimiento.fecha">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="importe">Importe</label>
                                    <div class="controls">
                                        <input type="number" name="importe" placeholder="" class="input" ng-model="nuevoMovimiento.importe">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button style="margin-top: 20px" type="button" class="btn btn-lg btn-primary" ng-click="total.ingresos=total.ingresos + (nuevoMovimiento.esIngreso * nuevoMovimiento.importe); total.gastos=total.gastos + (nuevoMovimiento.esGasto * nuevoMovimiento.importe); movimientos.push({fecha:nuevoMovimiento.fecha, tipo:nuevoMovimiento.esIngreso && 'Ingreso' || 'Gasto', categoria: nuevoMovimiento.categoria, importe : nuevoMovimiento.importe}); nuevoMovimiento.importe=0">
                                
                               
                                <span>Guardar {{nuevoMovimiento.esIngreso && 'Ingreso' || 'Gasto' }}</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
             {{movimientos}}
            <hr>
            <p class="lead">Estos son tus movimientos recientes.</p>
            <br>
            <label class="control-label" for="importe">Filtrar: </label>
            <input type="text" name="filtro" placeholder="qué buscas?" class="input" ng-model="valorBuscado">
                        <table class="table">
                <thead>
                    <tr>
                        <th><a href="" ng-click="campo = 'fecha'; sentido = campo == 'fecha' && !sentido">Fecha</a></th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th><a href="" ng-click="campo = 'importe'; sentido = campo == 'importe' && !sentido">Importe</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movimiento in movimientos | filter:valorBuscado | orderBy:campo:sentido">
                        <td class="text-left">{{movimiento.fecha | date}}</td>
                        <td class="text-left">{{movimiento.tipo}}</td>
                        <td class="text-left">{{movimiento.categoria}}</td>
                        <td class="text-left" ng-class="{'text-success': movimiento.tipo=='Ingreso', 'text-danger' : movimiento.tipo=='Gasto'}">{{movimiento.importe | number:2}} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- JavaScript References -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
</body>

</html>